[project]
name = "pytorch-examples"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.12"
dependencies = [
    "torch>=2.9.1",
    "numpy>=2.0.0",
    "jaxtyping>=0.2.25",
]
